<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
<div class="outer">
    <div id="footer-info" class="inner" style="text-align:center;">
	  <table width="100%" border="0">
        <tr>
          <td style="text-align:left">
            Do what you really want to do!&nbsp; &nbsp;
		  </td>
		  <td style="text-align:right">
		    <a href="/404.html">网站地图</a>&nbsp; &nbsp;
			<a href="/404.html">订阅本站</a>&nbsp; &nbsp;
			<a href="mailto:641541452@qq.com" target="_blank">联系博主</a>&nbsp; &nbsp;
			<a href="www.zhihu.com">被你发现的彩蛋~</a>&nbsp; &nbsp;
		  </td>
		         </tr>
      </table>
    </div>
</div>
</footer>