{% extends 'base.html' %}

{% block title %} 欢迎光临首页 {% endblock %}

{% block content %}

<p>这里是首页，欢迎光临</p>
<p>{{ string }}</p>
<p>教程列表</p>

{% for i in TutorialList %}
{{ i }}
{% endfor %}

<p>站点： {{ info_dict.site }}</p>
<P>哈哈： {{ info_dict.content }}</p>

{% for item in List %}
	{{ item}}
	{% if not forloop.last %},{% endif %}
{% endfor %}

{% url 'add' 4 5 %}

{% if var >= 90 %}
成绩优秀，自强学堂你没少去吧！学得不错
{% elif var >= 80 %}
成绩良好
{% elif var >= 70 %}
成绩一般
{% elif var >= 60 %}
需要努力
{% else %}
不及格啊，大哥！多去自强学堂学习啊！
{% endif %}




{% endblock %}